#pin the versions for compatibility
torch>=2.0.0
torchvision>=0.15.0
numpy>=1.24.0
pillow>=9.4.0
scikit-learn>=1.2.0
matplotlib>=3.5.0
seaborn>=0.12.0
tqdm>=4.65.0
pyyaml>=6.0

#use this to retrieve the data
kagglehub==0.1.0
kagglesdk==0.1.26


tensorboard>=2.13.0
# mlflow>=2.4.0          # Uncomment if using MLflow


fastapi>=0.100.0
uvicorn>=0.23.0
python-multipart>=0.0.6

#pipeline tracking or handling
dvc>=3.0.0

argparse                     # standard library, listed for completeness

#i already have a venv that has all these packages so i will not run
#but to install please use:
#python -m pip install -r requirements.txt (nb: please do this once you have created your venv and activated it)